@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@1,400;1,700&family=Raleway:wght@100;200;300;400;500;600&display=swap');

/*font-family: 'Lobster Two', sans-serif;
font-family: 'Raleway', sans-serif;*/

/*!---------------RESET--------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Lobster Two', sans-serif;
    color: $color-h1;
    text-align: center;
    font-size: 40px;
    font-weight: 200;
    margin-top: 8px;
}

section h2 {
    color: nth($colores, 4);
    font-size: 55px;
    font-family: 'Lobster Two', sans-serif;
    font-weight: 100;
    text-align: center;
    margin: 15px;
}

.carousel-caption a {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}

.herosec {
    margin-top: 20px;
}

.herosec h2 {
    font-family: 'Lobster Two', sans-serif;
    font-size: 55px;
    font-weight: 100;
    color: whitesmoke;
}

.herosec a {
    background-color: rgba(0, 0, 0, 0.644);
    border-color: black;
    margin-top: 10px;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.319);
    padding: 5px;
    margin-bottom: 50px;
    border-radius: 8px;
}

.carousel-caption:hover a {
    background-color: rgba(168, 18, 123, 0.801);
}

.datos-eventos-personales h3 {
    color: nth($colores, 4);
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin: 20px;
}

.datos-eventos-personales p {
    color: nth($colores, 4);
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin: 20px 30px 20px 30px;
}

.formularios {
    width: 50%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(252, 236, 218, 0.61);
    border-radius: 20px;
    box-shadow: 0 0 10px nth($colores, 6);
    padding: 5px;
    font-family: 'Raleway', sans-serif;
    color: nth($colores, 4);
    font-size: 18px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
    font-size: 15px;
}

input[type="submit"],
input[type="reset"] {
    background-color: nth($colores, 1);
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px nth($colores, 7);
}

.fuente-form {
    font-size: 15px;
}